.header .user-logged {
    position: absolute;
    top: 1%;
    left: 75%;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 1.3rem;
    color: rgba(68, 4, 4, 0.76);
    padding: 2px;
    text-align: center;
    border-radius: 10px;
}

.nome span{
    font-size: 1.3rem;
    color: blueviolet;
}