html, body {
  margin: 0;      /* Remove a margem padrão */
  padding: 0;     /* Remove o padding padrão */
  height: 100%;   /* Garante que o body tenha 100% da altura da tela */
  width: 100%;    /* Garante que o body tenha 100% da largura da tela */
}

.container {
  width: 100%;
  height: 100vh;
  background-image: url(./img/auditorio.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.lista-reservas {
    font-family: "Nunito", sans-serif;
    padding: 20px;
    max-width: 800px;
    margin: auto;
    margin-top: 7%;
  }
  
  h2 {
    text-align: center;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    font-weight: 600;
    background-color: #ccc;
    border: 1px solid #1f1f1f;
    padding: 10px;
    text-align: left;
  }
  
  th {
    background-color: rgb(131, 0, 0);
    color: white;
  }
  

  .buttonReservar {
    width: 20%;
    margin: auto;
    margin-top: 5%;
  }

  .buttonReservar a {
    text-decoration: none;
    font-size: 1rem;
    color: white;
  }
  